.coffee{
    height: 340px;
    background-image: url("../../img/coffe-bg-img/cofe-bg-img.png");
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 130px;
    margin-bottom: 100px;
}
